.header {
  margin-top: -8rem;
  margin-left: 27rem;
  width: 100%;
  height: 3rem;
  opacity: 0.9;
  /* background-image: linear-gradient(135deg, #7a41d6 30%, #405ee1 100%); */
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  padding: 2.5%;
}

.header a {
  color: white;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #4b034b;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #4b034b;
}

/* My Dell Computer estimated at 1800 x 1000 */
@media screen and (max-width: 1800px) {
  .header {
    margin-top: -15%;
    margin-left: 20%;
    width: 100%;
    height: 3rem;
    opacity: 0.9;
  }
}

/* iPad Pro 1024 x 1366 */
@media screen and (max-width: 1366px) {
  .header {
    margin-top: -22%;
    margin-left: 20%;
    width: 100%;
    height: 3rem;
    font-size: 14px;
    opacity: 0.9;
  }
}

@media screen and (max-width: 428px) {
  .header {
    margin-top: -82%;
    margin-left: 20%;
    width: 100%;
    height: 3rem;
    font-size: 12px;
    opacity: 0.9;
  }
}
