.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  margin-left: -50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 530653 */
.App-header {
  /* background-image: linear-gradient(to right, #530653, rgb(104, 45, 122)); */
  background-image: linear-gradient(135deg, #4b034b 30%, #405ee1 100%);
  /* background-image: linear-gradient(to bottom, #530653 30%, #afa2df 100%, #736bce 100%, #8967cd 100%); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Landing-Page-Header {
  letter-spacing: 10px;
  margin-left: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------- Start of Gateway Section ------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo-gateway {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --gatewayBackgroundEffect: #a1c4fd;
}

.gateway {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 20% 72% 8%);
  grid-template-areas:
    "logo logo"
    "LHS RHS"
    "footer footer";
}

.logo {
  background-color: var(--gatewayBackgroundEffect);
  display: flex;
  align-content: center;
  justify-content: center;
  grid-area: logo;
}

.LHS {
  display: flex;
  align-content: center;
  background-color: var(--gatewayBackgroundEffect);
  justify-content: center;
  position: relative;
  grid-area: LHS;
}

.RHS {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--gatewayBackgroundEffect);
  position: relative;
  grid-area: RHS;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--gatewayBackgroundEffect);
  grid-area: footer;
}

@media only screen and (max-width:550px) {
  .gateway {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 10% 40% 40% 10%);
    grid-template-areas: 
      "logo"
      "LHS"
      "RHS"
      "footer"
  }
}

/* ------------- End of Gateway Section ------------- */
